@page "{productId:guid?}"
@model Admin.Products.AddOrEditModel
@{
}

<div class="card w-50" style="margin:auto;">
    <div class="card-header bg-success text-white" style="font-weight:bold;">
        @if (Model.Product.ProductId != null)
        {
            <span><i class="bi bi-arrow-clockwise"></i> Update Product</span>
        }
        else
        {
            <span><i class="bi bi-plus-circle"></i> Add new Product</span>

        }
    </div>
    <form method="post">
        <input type="hidden" asp-for="@Model.Product.ProductId" />
        <div class="card-body">
            <label>@Html.LabelFor(p=>p.Product.ProductName)</label>
            <div class="mb-3">
                <input class="form-control" asp-for="@Model.Product.ProductName" placeholder="Product Name ..." />
                <span asp-validation-for="@Model.Product.ProductName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <select class="form-select" asp-for="@Model.Product.CategoryId" asp-items="Model.CategoryList">
                </select>
                <span asp-validation-for="@Model.Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>@Html.LabelFor(p=>p.Product.ProductDescription)</label>
                <textarea class="form-control" asp-for="@Model.Product.ProductDescription" placeholder="Product Description ..."></textarea>
                <span asp-validation-for="@Model.Product.ProductDescription" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-check-label">@Html.LabelFor(p=>p.Product.ProductPrice)</label>
                <input type="number" class="form-control" asp-for="@Model.Product.ProductPrice" placeholder="Product Price ..." />
            </div>
            <div class="mb-3">
                <label class="form-check-label">@Html.LabelFor(p=>p.Product.ProductPromotion)</label>
                <input type="checkbox" class="form-check-input" asp-for="@Model.Product.ProductPromotion" />
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-dark" asp-page="Index"><i class="bi bi-arrow-return-left"></i> Go Back</a>
            <button type="submit" class="btn btn-success">

                @if (Model.Product.ProductId != null)
                {
                    <span><i class="bi bi-arrow-clockwise"></i>Update</span>
                }
                else
                {
                    <span><i class="bi bi-check"></i>Save</span>

                }
            </button>
        </div>
    </form>
</div>

@section  Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}